<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <h1>이름을 입력해주세요.</h1>
    <form action="/pastlife">
        <input type="text" name="name">
        <input type="submit">
    </form><br><br>
    <h1>궁합을 볼 사람을 입력해주세요.</h1>
    <form action="/matchmaker">
    당신의 이름은? <input type="text" name="name1"><br>
    그 분의 이름은? <input type="text" name="name2"><br>
    <input type="submit">
    </form>
</body>
</html>